@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600');
@import './nord.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: $nord0;
}

.content {
  margin-left: 300px;
  color: $nord6;
  section {
    padding: 3rem;
    box-sizing: border-box;
    height: 100vh;

    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
      color: rgba($nord6, 0.55);
    }
  }
  @media screen and (max-width: 850px) {
    margin-top: 60px;
    margin-left: 0;
  }
}
