@import '../../style/nord.scss';

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }

  .blurb {
    width: 100%;
    max-width: 800px;
    text-align: center;
  }

  .row {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
  }

  .half {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    pointer-events: none;

    &:hover {
      .hidden {
        opacity: 1;
      }
    }

    h3 {
      pointer-events: auto;
      text-transform: uppercase;
      color: $nord0;
      background-color: $nord4;
      padding: 0.5rem 1rem;
      border-radius: 40px;
      margin-bottom: 2rem;
      user-select: none;
      text-align: center;
    }

    .hidden {
      top: 80px;
      position: absolute;
      width: 80%;
      height: 100%;
      opacity: 0;
      transition: opacity 300ms;

      p {
        color: $nord0;
        background-color: $nord4;
        width: 70%;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 6px;
        text-align: center;
      }
    }
  }

  img {
    width: 100%;
    height: 300px;
  }

  @media screen and (max-width: 500px) {
    .half {
      display: block;

      img {
        display: none;
      }
      .hidden {
        position: static;
        opacity: 1 !important;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 2rem;

        p {
          background-color: transparent;
          color: $nord4;
          box-sizing: border-box;
          width: 100%;
          margin: 0;
        }
      }
    }

    .row {
      flex-direction: column;
    }
  }
}
