@import '../../style/nord.scss';

.nav {
  width: 300px;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;

  $colors: $nord7 $nord12 $nord15 $nord11 $nord9 $nord8;

  @each $color in $colors {
    $i: index($colors, $color);
    .active-#{$i} {
      color: $color;
      border-bottom: 2px solid $color;
    }
  }

  .inactive {
    color: rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }

  a {
    user-select: none;
    width: 100%;
    text-align: right;
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
    // color: white;
    text-transform: uppercase;
    margin-bottom: 1rem;
    cursor: pointer;
    &:hover,
    &:visited,
    &:link {
      outline: none !important;
      text-decoration: none;
      color: white;
    }
  }
}
